.container{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.alumnoCard{
    height: 2vh;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 450px;

}

.field {
    margin-top:1em;
    margin-bottom: 1em;
}

.botonAlumno{
    margin: 1em;
}