
  <div class="container">
        <div class="card">
            <img src="./../../../../assets/gestion_usuario_01.png" >
            <h3 class="tituloCard">Gestión de Usuarios</h3>
            <button class="botoncard" mat-flat-button color="primary" routerLink="/gestionUsuarios">Entrar</button>
        </div>

        <div class="card">
            <img src="./../../../../assets/notificaciones_02.png" >
            <h3 class="tituloCard">Notificaciones</h3>
            <button class="botoncard" mat-flat-button color="primary" routerLink="/notificaciones">Entrar</button>
        </div>

        <div class="card">
            <img src="./../../../../assets/promociones_02.png" >
            <h3 class="tituloCard">Promociones</h3>
            <button class="botoncard" mat-flat-button color="primary" routerLink="/promociones">Entrar</button>
        </div>

        <div class="card">
            <img src="./../../../../assets/shop_02.png" >
            <h3 class="tituloCard">Gestión del Catálogo</h3>
            <button class="botoncard" mat-flat-button color="primary" routerLink="/catalogo">Entrar</button>
        </div>
  </div>

  