<p>DojoAfdam Login</p>
<!--
<form [formGroup]="loginForm">
  <label> Usuario: </label>
  <input type="text" id="usuario" formControlName="usuario" />
  <div *ngIf="this.loginForm.controls.usuario.errors?.required">Este campo es obligatorio</div>
  <div *ngIf="this.loginForm.controls.usuario.errors?.minlength">Este campo tiene que tener mínimo 4 caracteres</div>
  <label> Password: </label>
  <input type="password" id="password" formControlName="password" />
  <div *ngIf="this.loginForm.controls.password.errors?.required">Este campo es obligatorio</div>
  <div *ngIf="this.loginForm.controls.password.errors?.minlength">Este campo tiene que tener mínimo 8 caracteres</div>
  <button type="button" (click)="autenticaUsuario()">Entrar</button>
</form>
-->
<mat-icon >home</mat-icon>


<div class="main-div">
  <mat-card class="loginCard">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Nombre de usuario" formControlName="usuario">
          
          <ng-container *ngIf="loginForm.controls.usuario.errors != undefined">
            <div class="errorEnValidacion" *ngIf="this.loginForm.controls.usuario.errors?.required" >El usuario es obligatorio</div>
            <div class="errorEnValidacion" *ngIf="this.loginForm.controls.usuario.errors?.minlength">El usuario tiene que tener mínimo 4 caracteres</div>
        </ng-container>
        </mat-form-field> 

        <mat-form-field appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="Contraseña" [type]="ocultarPassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="ocultarPassword = !ocultarPassword">
              <mat-icon> {{ocultarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <ng-container *ngIf="loginForm.controls.password.errors != undefined">
              <div class="errorEnValidacion" *ngIf="this.loginForm.controls.password.errors?.required">El campo password es obligatorio</div>
              <div class="errorEnValidacion" *ngIf="this.loginForm.controls.password.errors?.minlength">El campo password tiene que tener mínimo 4 caractéres</div>
          </ng-container>
      </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button  [disabled]="loginForm.invalid" (click)="autenticaUsuario()">Entrar</button>
    </mat-card-actions>
  </mat-card>
</div>