
/* App Color General */

//Color de los iconos en el header
$topbar:#D60000;

//Color para el aside del sidebar
$sidebar: #fff;

$sidebar-white: #e5edef;
$sidebar-alt:#edf0f5;
$bodycolor: #f4f6f9;
$headingtext: #455a64;
$bodytext: #67757c; 
$sidebar-text: #687384;
$sidebar-icons: #555f6d ;

