<p>sidenav works!</p>

<div class="sidenav">
    <div class="logo">
        <a href="/" class="logo-miniatura">
            <div class="logo-img">
                <img src="../../../../../assets/Afdam_logo.png" />
            </div>
        </a>
        <a href="/" class="simple-text logo-normal" >
            Afdam
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerLink="/"></a>Dashboard Administrador</li>
        <li><a routerLink="/"><i class="fas fa-random"></i></a>Gestión de Usuarios</li>
        <li><a routerLink="/"><mat-icon >home</mat-icon></a>Notificaciones</li>
        <li><a routerLink="/"><mat-icon >home</mat-icon></a>Promociones</li>
        <li><a routerLink="/"><mat-icon >home</mat-icon></a>Gestión del Catálogo de la Tienda</li>
    </ul>
</div>
